.DS_Store
._*
.env
*.env
.issues/
server.log
Omeka S to Wikidata Mapping*
Saved projects for bug reproduction/Peter - demo van hoe ark niet toegevoegd kan worden - ook niet zichtbaar in QS export - 2025-07-23-15-27-06.json

# Node.js dependencies
node_modules/

# Playwright artifacts
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/browsers/
